{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <ul id = "notf_list">
        {% if not notifications %}
            <h4>No notifications</h4>
        {% else %}
            {% for x in notifications %}
                <li><h4>{{ x }}</h4></li>
                <script>
                    lastNotification = {{ x.date }};
                </script>
            {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block javascript %}
<script>

// Global variable to store time-date of last notification displayed
var lastNotification = "0";
setInterval(function () {
        console.log('Called new notifications at : ' + new Date());
        $.ajax({
            type: 'GET',
            url: "{% url 'main:get_new_notifications' notfLocIndex %}",
            success: function (response) {
                console.log(response);
                var newnotfs = response["new_notifications"];
                console.log(newnotfs);
                for (notf in newnotfs) {
                    console.log(lastNotification);
                    console.log(newnotfs[notf]['date']);
                    console.log(newnotfs[notf]);
                    if(newnotfs[notf]['date'] > lastNotification) {
                        $('#notf_list').prepend(
                            '<li><h4>'+ JSON.stringify(newnotfs[notf]) +'</h4></li>'
                        )
                        lastNotification = newnotfs[notf]['date'];
                    }
                }
            },
            error: function (response) {
                console.log(response)
            }
        })
    },10000);
</script>
{% endblock javascript %}
