{% extends "base_generic.html" %}

{% block css %}
<style>
@keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }

.blink {
    text-decoration: blink;
    animation-name: blinker;
    animation-duration: 0.6s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
  }

#searchbar{
   padding:10px;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
   width: 70%;
}

.disasters {
  display: list-item;
}

</style>

{% endblock %}


{% block content %}
{% csrf_token %}
<div class = "container">
    <h3>All Disasters</h3>
    <hr>
    <div class="col-6 align-left">
        <i id="search-icon" class="fas fa-search"></i>
        <input id="searchbar" onkeyup="search_disaster()" type="text" name="search" placeholder="Search disasters..">
        <br><br>
    </div>

    <div id="replaceable-content" class="col-6">
        <ul id='list'>
          {% for disaster in disasters_data %}
            <li class="disasters">
              <h4>
                <label for="{{ disaster.id }}"> {{ disaster.name }}</label>
                <input type="checkbox" class = "disasterClass" id="{{ disaster.id }}" name="{{ disaster.id }}"
                value="{{ disaster.id }}" {% if disaster.isactive == 1 %} checked {% endif %}>
              </h4>
              <b>Locations:</b>
              <p>
              {% for loc in disaster.location %}
                  {{loc}},
              {% endfor %}
              </p>
              <hr>
            </li>
          {% endfor%}
        </ul>
    </div>
</div>

{% endblock %}


{% block javascript %}

<script>
$(document).ready(function(){
    $('#replaceable-content').on('change', '.disasterClass:checkbox', function(){
    // $(".disasterClass").change(function() {
        var status = this.checked ? 1 : 0;
        console.log($(this).attr("id"));
        var id = $(this).attr("id");
        var token = $('input[name="csrfmiddlewaretoken"]').attr('value');
        console.log(token);
        $.ajax({
            type: 'POST',
            url: "{% url 'main:change_active_status' %}",
            data: {"status" : status, "id" : id, "csrfmiddlewaretoken" : token},
            success: function (response) {
                console.log("Active status of " + id + " changed successfully to " + status + "!")
            },
            error: function (response) {
                alert(response["error"]);
            }
        });
    });
});

function search_disaster() {
    let input = document.getElementById('searchbar').value
    input = input.toLowerCase();
    let x = document.getElementsByClassName('disasters');

    for (i = 0; i < x.length; i++) {
        let disaster_name = x[i].children[0].children[0].innerHTML.toLowerCase();
        let disaster_locs = x[i].children[2].innerHTML.toLowerCase();
        if (disaster_name.includes(input) || disaster_locs.includes(input)) {
            x[i].style.display = "list-item";
        }
        else {
            x[i].style.display = "none";
        }
    }
}
</script>

{% endblock javascript %}
